[submodule "cquery"]
	path = cquery
	url = https://github.com/cquery-project/cquery.git
	shallow = true
[submodule "pack/bundle/start/vim-grammarous"]
	path = pack/bundle/start/vim-grammarous
	url = github.com:rhysd/vim-grammarous.git
[submodule "vim-grammarous"]
	shallow = true
